extends layout
 
block content
  section.container
    h1
      | Buildings
      span
        a(href="/admin") Back to admin
      
    div.details.col-12
      if buildings.length > 0
        table.buildings
          thead
            tr
              th
                a(class=(sort == "name") ? "active" : "" href="?sort=name") Name
              th
                a(class=(sort == "location") ? "active" : "" href="?sort=location") Location
              th
                a(class=(sort == "downloads") ? "active" : "" href="?sort=downloads") Downloads
              th
                a(class=(sort == "polygons") ? "active" : "" href="?sort=polygons") Polygons
              th(width="25%") Actions

          tbody
          each building, key in buildings
            tr
              td #{building.name}
              td #{building.locality.district}, #{building.locality.country}
              td #{building.stats.downloads}
              td #{building.structure.faces}
              td
                small
                  a.button(href="/admin/building/#{building._id}") Edit
                  if building.hidden === false
                    button.buildingVisibility(data-action="hide" data-id="#{building._id}") Hide
                  else
                    button.buildingVisibility(data-action="show" data-id="#{building._id}") Show

                  if building.highlight === false
                    button.buildingHighlight(data-action="highlight" data-id="#{building._id}") Highlight
                  else
                    button.buildingHighlight(data-action="unhighlight" data-id="#{building._id}") Unhighlight
        
        include _pagination
      else
        p No buildings

  script.
    var buildingVisibilityButtons = document.getElementsByClassName("buildingVisibility");
    var buildingHighlightButtons = document.getElementsByClassName("buildingHighlight");

    // TODO: De-dupe the following

    for (var i = 0; i < buildingVisibilityButtons.length; i++) {
      var buildingVisibilityButton = buildingVisibilityButtons[i];
    
      buildingVisibilityButton.addEventListener("click", function(event) {
        event.preventDefault();
        
        var button = event.target;
        var dataset = button.dataset;
        var action = dataset.action;
        var buildingId = dataset.id;
        var hidden;
        
        if (action === "hide") {
          dataset.action = "show";
          button.innerHTML = "Show";
          hidden = true;
        } else if (action === "show") {
          dataset.action = "hide";
          button.innerHTML = "Hide";
          hidden = false;
        }

        if (hidden === true || hidden === false) {
          // This requires IE 10+
          // What are the ramifications of this?
          // What alternatives exist for async file upload?
          var formData = new FormData();
          
          formData.append("hidden", hidden);

          $.ajax({
            url: "/api/building/" + buildingId,
            data: formData,
            processData: false,
            contentType: false,
            type: "PUT",
            success: function(data, status, xhr) {
              // Building updated successfully
            },
            error: function(xhr, errorType, error) {
              // TODO: Display error and course of action

              // Unauthenticated
              if (xhr.status === 403) {
                // Redirect to login page
                window.location.href = "/login";
              }

              console.log(xhr.status);
              console.log(errorType);
              console.log(error);
            }
          });
        }
      });
    };

    for (var i = 0; i < buildingHighlightButtons.length; i++) {
      var buildingHighlightButton = buildingHighlightButtons[i];
    
      buildingHighlightButton.addEventListener("click", function(event) {
        event.preventDefault();
        
        var button = event.target;
        var dataset = button.dataset;
        var action = dataset.action;
        var buildingId = dataset.id;
        var highlight;
        
        if (action === "highlight") {
          dataset.action = "unhighlight";
          button.innerHTML = "Unhighlight";
          highlight = true;
        } else if (action === "unhighlight") {
          dataset.action = "highlight";
          button.innerHTML = "Highlight";
          highlight = false;
        }

        if (highlight === true || highlight === false) {
          // This requires IE 10+
          // What are the ramifications of this?
          // What alternatives exist for async file upload?
          var formData = new FormData();
          
          formData.append("highlight", highlight);

          $.ajax({
            url: "/api/building/" + buildingId,
            data: formData,
            processData: false,
            contentType: false,
            type: "PUT",
            success: function(data, status, xhr) {
              // Building updated successfully
            },
            error: function(xhr, errorType, error) {
              // TODO: Display error and course of action

              // Unauthenticated
              if (xhr.status === 403) {
                // Redirect to login page
                window.location.href = "/login";
              }

              console.log(xhr.status);
              console.log(errorType);
              console.log(error);
            }
          });
        }
      });
    };