extends layout_new

block content
  div#browse-map

  section.container
    div.col-4.details
      if buildings.length > 0
        ul.building-list
          each building, key in buildings
            li
              a(href="##{building._id}" data-id="#{building._id}")
                h2 #{building.name}
                p
                  small #{building.locality.district}, #{building.locality.country}
        
        include _pagination
      else
        p No buildings

  script(src="/lib/webcomponentsjs/webcomponents.min.js")
  link(rel="import" href="/lib/flag-icon/flag-icon.html")
  
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js")

  script.
    var map = L.map("browse-map", {zoomControl: false}).setView([50, 0], 3);

    // Offset map
    map.panBy(L.point(-200, 50), {animate: false});

    L.tileLayer("http://{s}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png", {
      //- attribution: "&copy; <a href='http://osm.org/copyright'>OpenStreetMap</a> contributors"
      attribution: "&copy; <a href='http://stamen.com'>Stamen</a> & <a href='http://osm.org/copyright'>OpenStreetMap</a> contributors"
    }).addTo(map);

    var buildings = !{JSON.stringify(buildings)};
    var buildingsById = {};

    // TODO: Cluster markers
    // https://github.com/Leaflet/Leaflet.markercluster
    if (buildings.length > 0) {
      buildings.forEach(function(building, index) {
        var circle = L.circleMarker([building.location.coordinates[1], building.location.coordinates[0]], {
          radius: 7,
          weight: 2,
          color: "#fff",
          opacity: 1,
          fillColor: "#2D2D2D",
          fillOpacity: 1
        }).addTo(map);

        var popup = L.popup({
            maxWidth: 450,
            closeButton: false
          }).setLatLng(circle.getLatLng())
          .setContent("<div id='browse-map-overlay'><h2><a href='/building/" + building._id + "'>" + building.name + "</a></h2><p>" + building.locality.district + ", " + building.locality.country + ((building.locality.countryCode) ? " <flag-icon key='" + building.locality.countryCode + "' img>" : "") + "</p><p class='buttons'><a class='button' href='/building/" + building._id + "'>View building</a></p><span class='stalk'></span>");
        
        building.popup = popup;

        circle.on("click", function() {
          popup.openOn(map);

          // TODO: Zoom in on marker
        });

        if (index + 1 === buildings.length) {
          popup.openOn(map);
        }

        buildingsById[building._id] = building;
      });
    }

    // Set up building list handlers
    var buildingList = $("ul.building-list");
    var buildingListItems = $("ul.building-list li a");
    
    buildingListItems.on("click", function(event) {
      var id = this.dataset.id;
      var building = buildingsById[id];

      map.setView([building.location.coordinates[1], building.location.coordinates[0]], 3);

      // Offset map
      map.panBy(L.point(-200, 50), {animate: true});

      building.popup.openOn(map);
    // Prevent children from hijacking click
    });