extends layout

block content
  h1 Building

  ul
    li ID: #{building._id}
    li Name: #{building.name}
    li Location: #{building.location}
    li Scale: #{building.scale}
    li Angle: #{building.angle}
    ul
      li Vertices: #{building.structure.vertices}
      li Faces: #{building.structure.faces}
      li Materials: #{building.structure.materials}
    ul
      each model, key in building.models
        li
          | #{model.type}: 
          a(href="/#{model.path}") #{model.path}
    li User ID: #{building.userId}
    li Created: #{building.createdAt}
    li Updated: #{building.updatedAt}