extends layout

block content
  h1 Building

  ul
    li #{building._id}
    li #{building.name}
    li #{building.location}
    ul
      each model, key in building.models
        li
          | #{model.type}: 
          a(href="/#{model.path}") #{model.path}
    li #{building.userId}
    li #{building.createdAt}
    li #{building.updatedAt}