extends layout

block content
  if near
    header.map
      div#map

  div.wrapper
    h1 Search buildings

    if buildings.length > 0
      .cards
        each building, key in buildings
          a.card(href="/building/#{building._id}")
            .card-image
              img(src="https://tyler-demo.herokuapp.com/?greyscale=true&lat=#{building.location.coordinates[1]}&lon=#{building.location.coordinates[0]}&zoom=17&width=344&height=200", alt="")
            .card-header
              | #{building.name}
            .card-copy
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
            .card-stats
              ul
                li
                  | #{building.structure.vertices}
                  span Vertices
                li
                  | #{building.structure.faces}
                  span Faces
                li
                  | #{building.stats.views}
                  span Views
                li
                  | #{building.stats.downloads}
                  span Downloads
    else
      p No buildings
  
  if near
    script(src="/lib/jquery/dist/jquery.min.js")

    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js")

    script.
      var map = L.map("map").setView([#{near[1]}, #{near[0]}], 4);

      // Offset map
      map.panBy(L.point(0, -50), {animate: false});

      //- L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
      L.tileLayer("http://{s}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png", {
        //- attribution: "&copy; <a href='http://osm.org/copyright'>OpenStreetMap</a> contributors"
        attribution: "&copy; <a href='http://stamen.com'>Stamen</a> & <a href='http://osm.org/copyright'>OpenStreetMap</a> contributors"
      }).addTo(map);

      L.marker([#{near[1]}, #{near[0]}]).addTo(map);